<div class="intersection">
  <app-traffic-light
    [color]="colorSet1"
    orientation="vertical"
    class="north"
  ></app-traffic-light>
  <app-traffic-light
    [color]="colorSet2"
    orientation="horizontal"
    class="east"
  ></app-traffic-light>
  <app-traffic-light
    [color]="colorSet1"
    orientation="vertical"
    class="south"
  ></app-traffic-light>
  <app-traffic-light
    [color]="colorSet2"
    orientation="horizontal"
    class="west"
  ></app-traffic-light>
  <button
    (click)="handleCrash()"
    [disabled]="crashButtonDisabled"
    class="crash-button"
  >
    Crash
  </button>
</div>
